@model DataModel

@{
    ViewData["Title"] = "Sort";
}

<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("Sort", "Home", FormMethod.Post))
{
    @Html.LabelFor(m => m.Input)
    <br/>
    @Html.TextBoxFor(m => m.Input)
    <br/>
    @Html.LabelFor(m => m.Output)
    <br/>
    @Html.DisplayFor(m => m.Output)
    <br/>
    <input type="submit" value="Bubble Sort" asp-controller="Home" asp-action="BubbleSort"/>
    <input type="submit" value="Merge Sort" asp-controller="Home" asp-action="MergeSort"/>
}